.vs/
/Debug/Xlam/
Open_Gl/Debug/
Open_Gl/Release/
Release/
*/Open_Gl.exe.metagen
*/Open_Gl.pdb
*/desktop.ini
Open_Gl.VC.VC.opendb
Open_Gl.VC.db
Open_Gl.VC.db
Open_Gl.VC.VC.opendb
*.pdb
*.iobj
*.ipdb
*.ilk
*.cbp
*.layout
desktop.ini